<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container py-2">
        <a class="navbar-brand" href="/">Return Soon</a>

        <form action="/api/v1/logout" method="post">
            <button class="text-dark btn btn-warning" type="submit">Logout</button>
        </form>
    </div>
</nav>